/* Header */
.navbar {
	background-color:#00aff0;
	margin-bottom:15px;
}
.menulink {
/*	color:#FFFFFF;
	font-size:1em;*/
}
.opencoding-logo {
/* 	background-color:#FFFFFF; */
	padding:10px;
	color:#FFFFFF;
/* 	height:100px; */
}
.opencoding {
	color:white;
	font-size:14pt;
	float:right;
}
.opencoding-slogan {
	color:white;
	font-size:12pt;
}
/* Nested containers have 0 margin */
.container-fluid .container {
    padding-left:0;
    padding-right:0;
}
.site-footer {
	background-color:#00aff0;
}
/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
/* Data Tables */
.fa-sort,.fa-sort-up,.fa-sort-down {
	cursor:pointer;
}
.fa-eye,.fa-edit, .fa-share-alt {
	cursor:pointer;
}


#playarea {
width:800px;
border: 1px solid gray;
}
#extrainfo {
background-color: rgb(240,240,240);

}
#extrainfo > * {
}
#codeTable {
}
#codeTable table {
}
#codeTable tr th {
}
#codeTable td {
}
#codeTable tr > td:last-child {
}
.codingarea {
/*       position:relative;
min-height:600px;*/
}
.brainstorm-name {
width:120px;
display:inline-block;
}
.itemvalue {
max-width:80px;
}
.uploadedimg>img {
	max-width:75px;
	max-height:75px;
}

.training {
	background-color:#ffffed;
}
